.reveal pre code {
  font-size: 1em;
}

.reveal .state-background {
  background: white;
} 
.reveal {
  color: black;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
} 
.reveal strong {
    color: black;
} 
.reveal sup {
    font-size: 80%;
}

.reveal section[data-state='section'] strong {
    color: #25679E;
}


.smaller {
  font-size: smaller !important;
}

/* Removes hyphenating in titles: */
.reveal h1, .reveal h2, .reveal h3 {
  word-wrap: normal;
  -moz-hyphens: none;
  -epub-hyphens: none;
}

/*
Use to center an image like this:
<div class="midcenter" style="margin-left:-300px; margin-top:-300px;">
<img src="flowchart_600x600.png"></img>
</div>
The margins are to make it truly centered
*/
.midcenter {
    position: fixed;
    top: 50%;
    left: 50%;
}



.safepug_icon { 
    background: url(https://i.imgur.com/jb14nCz.jpg) 50% 50% no-repeat; /* 50% 50% centers image in div */
    width: 400px;
    height: 400px;
    float: right;
}


.footer {
    color: black; 
    position: fixed; 
    top: 90%;
    text-align:center; 
    width:100%;
}